@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

/* First bar */
.firstbar {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 10%;
}

/* Logo/Navigation */
.navbar{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.logo{
    font-size: 24px;
    padding: 1em 0;
    font-weight:800;
}
.links{
    margin-top:25px;
    font-size: 18px;  
}
a:link,
a:visited{
    text-decoration: none;
    color:inherit;
}
span{
    margin: 0 1em;
}
span:first-of-type,
span:last-of-type{
    margin: 0;
}

/* Main */
.main{
    display:flex;
    padding: 10% 0;
    justify-content: center;
    align-items:center;
    gap:10%;
}
.mleft{
    display:flex;
    flex-direction:column;
    gap: 1em;
}
button{
    background-color: #3882F6;
}
.hero{
    font-size:48px;
    font-weight:800;
}
.heros{
    color:#E5E7EB;  
    font-size: 18px;
}
.herob{
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    border:none;
    border-radius:0.4em;
    padding: 0.3em 1em;
    width: 120px;
}
.mright{
    flex-shrink:0;
    width:50%;
}
.image{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(112, 112, 112);
    height:240px;
    border-radius:8px;
}

/* Box bar */
.secondbar{
    display:flex;
    flex-direction:column;
    align-items: center;
    color:#1F2937;
    margin-bottom:100px;
}
.random{
    font-size: 36px;
    font-weight: 800;
    padding: 1em;
}
.randomib{
    display:flex;
    gap:25px;
}
.randomi{
    display:flex;
    align-items: center;
    flex-direction:column;
    text-align: center;
    max-width:210px;
    font-size:18px;
}
.randomb{
    width:180px;
    height:180px;
    border-radius: 15px;
    border: 5px solid #3882F6;
    background-color: #F9FAF8;
}

/* Quote bar */
.thirdbar{
    display:flex;
    flex-direction: column;
    padding:10% 25%;
    background-color:#E5E7EB;
    color:#1F2937;
}
.quote{
    font-size: 36px;
    font-weight: 100;
    justify-content: center;
}
.author{
    font-size: 18px;
    font-weight: bolder;
    align-self:flex-end;
}

/* CTA bar */
.fourthbar{
    display:flex;
    padding:8% 8%;
    align-items: center;
    color:#F9FAF8;
}
.bluebox{
    width:1200px;
    height:180px;
    background-color: #3882F6;
    border-radius: 8px;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
}
.blueboxt{
    display:flex;
    flex-direction: column;
}
.ctabig{
    font-size: 24px;
    font-weight:800;
}
.ctabut{
    border: 2px solid #F9FAF8;
    font-size: 18px;
    width:120px;
    padding: 0.3em 1.5em;
    border-radius:0.4em;
    color:#F9FAF8;
}

/* Footer */
footer{
    display:flex;
    padding: 3em;
    background-color:#1F2937;
    color:#E5E7EB;
    align-items: center;
    justify-content: center;
}
